{% extends 'base.html' %}
{% block pagetitle %}
Contact Us
{% endblock pagetitle %}

{% block body %}

<div class="row mb-5 text-center text-white laptop">
    <div class="col-lg-10 mx-auto">
        <h1 class="display-4" style="padding-top: 2%;font-weight: 400;color: rgb(4, 54, 4);"><b>📞Contact-Us📞</b></h1>
        <p class="lead" style="font-weight: 500;color: black;">For Any Queries & Suggestions Contact Us. We Are Happy To
            Help.</p>
    </div>
</div>

<div class="row p-3">
    <div class="col">
        <div class="p-5 bg-white shadow rounded-lg" style="height: 95%;">
            <center>
                <h3>Rajni Suthar</h3>
                <p class="lead" style="font-weight: 350;">
                    Hi, I am Rajni Suthar, a data enthusiast passionate about Machine Learning, Deep Learning, and Data Science. 
                    I am also exploring opportunities in Data Analytics and AI to create innovative solutions.
                </p>
            </center>
            <div>
                <h5>Social Media Handles :</h5><br>
                
                <a target="_blank" href="mailto:rajnisuthar29@gmail.com">
                    <i class="fa-solid fa-envelope" style="font-size: 25px; color: #D44638;"></i>
                </a> : rajnisuthar29@gmail.com<br><br>

                <a target="_blank" href="https://www.instagram.com/rajnisuthar29/">
                    <i class="fa-brands fa-instagram" style="font-size: 25px; color: #E1306C;"></i>
                </a> : Rajni Suthar<br><br>

                <a target="_blank" href="https://github.com/29Ra7jn8iSu0th0ar">
                    <i class="fa-brands fa-github" style="font-size: 25px; color: #000;"></i>
                </a> : Rajni Suthar<br><br>

                <a target="_blank" href="https://www.linkedin.com/in/rajnisuthar01/">
                    <i class="fa-brands fa-linkedin" style="font-size: 25px; color: #0077B5;"></i>
                </a> : Rajni Suthar<br><br>

               <!--- <a target="_blank" href="https://github.com/29Ra7jn8iSu0th0ar?tab=repositories">
                    <i class="fa-solid fa-globe" style="font-size: 25px; color: #0D6EFD;"></i>
                </a> : Personal Website<br><br> --->
            </div>
        </div>
    </div>
</div>

<!-- Add this to your HTML <head> section -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
<!-- Add this to your HTML <body> section -->

 <!---   <div class="col">
        <div class="p-5 bg-white shadow rounded-lg" style="height: 95%;">
            <center>
                <h3>Team Members</h3>
                <p class="lead" style="font-weight: 350;">This project is a collaborative effort led by Rahul Kumar along with dedicated team members Ashutosh Kumar and Amit Raj & MD.Gulfam.</p>
            </center>
            <div>
                <h5>Contributors :</h5><br>
                <ul>
                    <li>Ashutosh Kumar</li>
                    <li>Amit Raj</li>
                    <li>MD.Gulfam</li>
                </ul>
            </div>
        </div>
    </div>
</div>
--->
{% endblock body %}
